@import url("reset.css"); /* import css reset */
/*
    App Styles (for no-frame)
*/

.app-toolbar {
    background: #444;
    color: #fff;
    height: 40px;
    -webkit-app-region: drag;
    padding: 0;
    margin: 0;
}

.app-toolbar div {
    display: inline-block;
}

.app-toolbar__icon img {
    max-width: 20px;
}
