@import url("reset.css"); /* import css reset */
/*
    App Styles (for no-frame)
*/
@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karlaitalic';
    src: url('../fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karlabold';
    src: url('../fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}

* {
    font-family: "karlaregular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-user-select: none;
    user-select: none;
}

p {
    user-select: none;
}

img {
    max-width: 100%;
}

hr {
    margin: 4px auto;
    border-top: 1px solid rgb(92, 92, 92);
    width: 90%;
}

main {
    position: relative;
    padding: 50px 20px 20px 20px;
    margin-top: 40px;
    height: calc(100% - 39px); 
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:rgba(255, 255, 255, 0.24);
}
 
::-webkit-scrollbar-thumb {
  background-color: #d1d1d19d;
  background: linear-gradient(#d1d1d149, #ffffff94, #d1d1d149);
  outline: 1px solid #e87400;
}


.app-header {
    width: 100%;
    position: fixed;
    grid-template-columns: 50px 200px 400px 100px;
    z-index: 2;
}

.app-toolbar {
    background: #444;
    color: #c5c5c5;
    height: 38px;
    -webkit-app-region: drag;
    margin: 0;
    margin-top: 1px;
    /* grid-row: 1;
    display: flex; */
    justify-content: center;
}

.index .app-toolbar {
    display: block;
}

/* .app-toolbar>div {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
} */

.app-toolbar div.app-toolbar__options {
    padding: 0;
}

.app-toolbar__icon {
    width: 40px;
    float: left;
    padding: 10px;
}

.app-toolbar__icon img {
    max-width: 20px;
}

.app-toolbar__menu {
    width: auto;
    padding: 4px 0;
    float: left;
}

.app-toolbar__menu button {
    background: none;
    color: #fff;
    border-radius: 0;
}

.app-toolbar__menu button:hover {
    background: rgba(0,0,0,.5);
    color: #fff;
}

.app-toolbar__title {
    width: calc(100% - 454px);
    float: left;
    padding: 11px;
    text-align: center;
}

.index .app-toolbar__title {
    width: calc(100% - 240px);
    padding-left: 160px;
}

.app-toolbar__title span {
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .8em;
}

.app-toolbar__options {
    -webkit-app-region: no-drag;
    width: 200px;
    height: 40px;
    float: right;
}

.app-toolbar__options div {
    display: inline-block;
    padding: 10px;
    width:33.333%;
    margin-right: -4px;
    text-align: center;
}

.app-toolbar__options div:hover {
    background: rgba(255, 255, 255, 0.5);
}

.app-toolbar__options .options__close:hover {
    background: rgba(241, 0, 0, 0.5);
}

.project-select {
    max-width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.025);
    border-radius: 3px;
    margin: 0 auto;
}

.project-select__option {
    display: inline-block;
    width: calc(50% - 3px);
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
}

.project-select__icon {
    max-width: 200px;
    margin:0 auto;
    padding: 20px;
}

.project-select__option {
    cursor: pointer;
}

.project-select__option:hover {
    background: rgba(251, 251, 251, 0.1);
}

.project-select__option span {
    display: block;
}

.project-select__option:last-child {
    border-right: 0;
}

.dialogue {
    position: fixed;
    top:calc(50% + 20px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
    min-height: calc(60% - 40px);
    max-height: calc(90% - 40px);
    background: rgba(54, 85, 105, 0.9);
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    min-height: 30px;
}

button:hover {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 3px;
}
.close-btn:hover {
    background: rgb(162, 59, 59);
}

.delete-toggle {
    height: 40px;
    width: 40px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

button.negative {
    background: rgb(162, 59, 59);
    color: #fff;
}

button.negative:hover {
    background: rgba(126, 6, 6, 0.5);
    color: #fff;
}

button.positive {
    background: rgb(71, 162, 59);
    color: #fff;
}

button.positive:hover {
    background: rgba(71, 162, 59,0.5);
    color: #fff;
}

#dictate-btn {
    position: absolute;
    background: url('../img/dictate-default.svg');
    background-size: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    bottom: 0px;
    right: 0px;
    
    transition: opacity .4s ease;
    height:0px;
    width:0px;
}

#dictate-btn.ready {
    opacity: 1;
    width: 80px;
    height: 80px;
}

#dictate-btn.active {
    background: url('../img/dictate-active.svg');
    background-size: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
}

#dictate-btn:hover {
    background: url('../img/dictate-hover.svg');
    background-size: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
}

#dictate-btn.active:hover {
    background: url('../img/dictate-active-hover.svg');
    background-size: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
}




#existing-projects {
    max-height: 30vh;
    overflow-y: auto;
    border-radius:3px;
    background: rgba(0,0,0,.2);
}

.project-title {
    display: block;
}

.project-result {
    margin: 10px;
    background: rgba(165, 165, 165, 0.5);
}

.project-result.active {
    background: rgba(165, 165, 165, 0.9);
}

.mode-text, .mode-gui {
    position: relative;
}

.mode-text::before,
.mode-gui::before {
    position: absolute;
    top: -5px;
    left: -10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 2px 4px 1px 4px;
    border-radius: 3px 0 3px 0;
}

.mode-text::before {
    content: 'TEXT';
}

.mode-gui::before {
    content: 'GUI';
}

iframe {
    width: 100%;
    height: calc(100vh - 120px);
}

.gui-editor #editor {
    float: left;
    width: calc(100% - 80px);
}

#editor__text {
    width:100%;
    max-width: calc(100vw - 10px);
    min-width: calc(100vw - 20px);
    height: 100%;
    min-height: calc(100vh - 65px);
    resize: none;
    padding: 10px;
}

.text-editor main {
    padding: 0px;
}

#gui-sidebar {
    float:left;
    width: 80px;
}

input[type="text"] {
    height:30px;
    border-radius: 3px;
    width:100%;
    display:block;
    margin-bottom:10px;
    padding: 10px;
}
select {
    width: 100%;
    height: 30px;
    border-radius: 3px;
}
label {
    margin-bottom: 10px;
    display: inline-block;
}

.dropdown__item {
    display: inline-block;
}

.submenu {
    position: absolute;
    top: 40px;
    z-index: 10;
    background: grey;
    padding: 5px 0;
    min-width: 150px;
}

.submenu button {
    width: 100%;
    padding: 8px 10px;
    min-height: auto;
}

.submenu__item-title {
    text-align: left;
    float: left;
}

.submenu__item-shortcut {
    text-align: right;
    float: right;
    color: rgba(255,255,255,.5);
}

#no-files {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 70%;
    opacity: .5;
}


.CodeMirror {
    z-index: 0!important;
    transition: box-shadow .4s ease;
}

.cm-s-lucario .CodeMirror-gutters {
    background: transparent!important;
}
.CodeMirror.shadow-positive,
main.shadow-positive {
    z-index: 0!important;
    -webkit-box-shadow: inset 0 0 10px #29cc5b;
    box-shadow: inset 0 0 10px #29cc5b;
}

.CodeMirror.working,
main.working {
    z-index: 0!important;
    -webkit-box-shadow: inset 0 0 10px #fbff00;
    box-shadow: inset 0 0 10px #fbff00;
    
}

.CodeMirror.working:before,
main.working:before {
    color:#fbff00;
    content:"working";
    position: absolute;
    bottom: 70px;
    right: 20px;
} 

.CodeMirror.working:after,
main.working:after {
    color:#fbff00;
    overflow: hidden;
    position: absolute;
    bottom: 70px;
    right: 0;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

.CodeMirror.finished:before,
main.finished:before {
    color: #d1d1d1;
    content:"success";
    position: absolute;
    bottom: 70px;
    right: 20px;
} 
.CodeMirror.finished,
main.finished {
    z-index: 0!important;
    -webkit-box-shadow: inset 0 0 10px #d1d1d1;
    box-shadow: inset 0 0 10px #d1d1d1;
}


.CodeMirror.error:before,
main.error:before {
    color: #A13A3A;
    content:"failure";
    position: absolute;
    bottom: 70px;
    right: 20px;
} 
.CodeMirror.error,
main.error {
    z-index: 0!important;
    -webkit-box-shadow: inset 0 0 10px #A13A3A;
    box-shadow: inset 0 0 10px #A13A3A;
}

.tab-bar__container {
    background:#333;
    box-shadow: 0px -10px 5px 10px #101010;
    position: relative;
    z-index: 1;
}

.tab-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tabs {
    margin-bottom: -1px;
}

.tab__item {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.tab__item button {
    border-radius: 0;
    background: #444;
    color: #8f8f8f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tab__item button span {
    color: #d6d5d5;
}

.tab__item button:focus {
    outline: none;
}

.tab__item button:hover {
    background: #555;
}

.tab__item button.active {
    background: #2a3d4f;
    border-bottom: 1px solid #2a3d4f;
}

.tab__item button.changes::after {
    content: '*';
}

