<button id="step-header" class="gui-step">
    <h2>
        Header
    </h2>
    <div class="gui-step__options">
        <h3>Options:</h3>
        
        <div class="option">
            <span class="option__title">Background Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Select Image</span>
        </div>

    </div>
</button>

<button id="step-navigation" class="gui-step">
    <h2>
        Navigation
    </h2>
    <div class="gui-step__options">
        <h3>Options:</h3>
        <div class="option">
            <span class="option__title">Link Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Link Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Background Colour</span>
        </div> 

    </div>
</button>

<button id="step-main" class="gui-step">
    <h2>
        Main Article
    </h2>
    <div class="gui-step__options">
        <h3>Options:</h3>
        <div class="option">
            <span class="option__title">Title Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Title Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Text Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Text Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Background Colour</span>
        </div> 

        <div class="option">
            <span class="option__title">Update Text</span>
        </div> 

        <div class="option">
            <span class="option__title">New Text</span>
        </div> 
    </div>
</button>

<button id="step-column" class="gui-step">
    <h2>
        Columns
    </h2>
    <div class="gui-step__options">
        <h3>Options:</h3>
        <div class="option">
            <span class="option__title">Title Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Title Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Text Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Text Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Background Colour</span>
        </div> 
    </div>
</button>

<button id="step-footer" class="gui-step">
    <h2>
        Footer
    </h2>
    <div class="gui-step__options">
        <h3>Options:</h3>
        <div class="option">
            <span class="option__title">Title Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Title Colour</span>
        </div>
        <div class="option">
            <span class="option__title">Text Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Text Colour</span>
        </div>

        <div class="option">
            <span class="option__title">Background Colour</span>
        </div> 

        <div class="option">
            <span class="option__title">Select Image</span>
        </div>

        <div class="option">
            <span class="option__title">Link Size</span>
            <span class="option__value">Small, medium, large</span>
        </div>

        <div class="option">
            <span class="option__title">Link Colour</span>
        </div>

    </div>
</button>