<button id="step-1" class="gui-step">
        <h2>
            step one - layout 2
        </h2>
        <h3>Options</h3>
        <div class="text-size">
            <span class="text-size__title">Text Size</span>
            <span class="text-size__value"></span>
        </div>

        <div class="text-color">
            <span class="text-size__title">Text Colour</span>
            <span class="text-size__value"></span>
        </div>

        <div class="background-color">
            <span class="text-size__title">Background Colour</span>
            <span class="text-size__value"></span>
        </div> 

        <div class="background">
            <span class="text-size__title"></span>
            <span class="text-size__value"></span>
        </div> 
        <div>

        </div>
    </button>
    <button id="step-2" class="gui-step">
        <h2>
            step two - layout 2
        </h2>
        <h3>Options</h3>
        <div class="text-size">
            <span class="text-size__title">Text Size</span>
            <span class="text-size__value"></span>
        </div>

        <div class="text-color">
            <span class="text-size__title">Text Colour</span>
            <span class="text-size__value"></span>
        </div>

        <div class="background-color">
            <span class="text-size__title">Background Colour</span>
            <span class="text-size__value"></span>
        </div> 

        <div class="background">
            <span class="text-size__title"></span>
            <span class="text-size__value"></span>
        </div> 
    </button>
    <button id="step-3" class="gui-step">
        <h2>
            step three - layout 2
        </h2>
        <h3>Options</h3>
        <div class="text-size">
            <span class="text-size__title">Text Size</span>
            <span class="text-size__value"></span>
        </div>

        <div class="text-color">
            <span class="text-size__title">Text Colour</span>
            <span class="text-size__value"></span>
        </div>

        <div class="background-color">
            <span class="text-size__title">Background Colour</span>
            <span class="text-size__value"></span>
        </div> 

        <div class="background">
            <span class="text-size__title"></span>
            <span class="text-size__value"></span>
        </div> 
    </button>