<button id="step-header" class="gui-step">
        <h2>
            Header
        </h2>
        <div class="gui-step__options">
            <h3>Options:</h3>
            <div class="title">
                    <span class="text-size__title">Text Size</span>
                    <span class="text-size__value"></span>
                </div>
            <div class="title-size">
                <span class="text-size__title">Text Size</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="title-color">
                <span class="text-size__title">Text Colour</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="background-color">
                <span class="text-size__title">Background Colour</span>
                <span class="text-size__value"></span>
            </div> 
        </div>
    </button>

    <button id="step-navigation" class="gui-step">
        <h2>
            Navigation
        </h2>
        <div class="gui-step__options">
            <h3>Options:</h3>
            <div class="text-size">
                <span class="text-size__title">Text Size</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="text-color">
                <span class="text-size__title">Text Colour</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="background-color">
                <span class="text-size__title">Background Colour</span>
                <span class="text-size__value"></span>
            </div> 
    
            <div class="background">
                <span class="text-size__title"></span>
                <span class="text-size__value"></span>
            </div> 
        </div>
    </button>

    <button id="step-main" class="gui-step">
        <h2>
            Main Article
        </h2>
        <div class="gui-step__options">
            <h3>Options:</h3>
            <div class="text-size">
                <span class="text-size__title">Text Size</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="text-color">
                <span class="text-size__title">Text Colour</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="background-color">
                <span class="text-size__title">Background Colour</span>
                <span class="text-size__value"></span>
            </div> 
    
            <div class="background">
                <span class="text-size__title"></span>
                <span class="text-size__value"></span>
            </div> 
        </div>
    </button>

    <button id="step-column" class="gui-step">
        <h2>
            Columns
        </h2>
        <div class="gui-step__options">
            <h3>Options:</h3>
            <div class="text-size">
                <span class="text-size__title">Text Size</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="text-color">
                <span class="text-size__title">Text Colour</span>
                <span class="text-size__value"></span>
            </div>
    
            <div class="background-color">
                <span class="text-size__title">Background Colour</span>
                <span class="text-size__value"></span>
            </div> 
    
            <div class="background">
                <span class="text-size__title"></span>
                <span class="text-size__value"></span>
            </div> 
        </div>
    </button>
    
    <button id="step-footer" class="gui-step">
            <h2>
                Footer
            </h2>
            <div class="gui-step__options">
                <h3>Options:</h3>
                <div class="text-size">
                    <span class="text-size__title">Text Size</span>
                    <span class="text-size__value"></span>
                </div>
        
                <div class="text-color">
                    <span class="text-size__title">Text Colour</span>
                    <span class="text-size__value"></span>
                </div>
        
                <div class="background-color">
                    <span class="text-size__title">Background Colour</span>
                    <span class="text-size__value"></span>
                </div> 
        
                <div class="background">
                    <span class="text-size__title"></span>
                    <span class="text-size__value"></span>
                </div> 
            </div>
        </button>