* {
    font-family: sans-serif;
}

@media (max-width:900px) {
    .footer__third, .col-3 article {
        width: calc(100% - 40px)!important;
    }
}

html {
    background:#fff;
    margin:0;
    padding:0;
    height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

title {
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 1300px;
    height: 100%;
}

p {
    margin: 0;
    padding: 5px 0;
}

h1 {
    color: #333333;
    text-transform: capitalize;
}

header {
    position: fixed;
    background: grey;
    height: 100px;
    padding: 20px;
    width: calc(100% - 40px);
}

#logo img {
    max-height: 100px;
}

.mainnav {
    position: fixed;
    width: 220px;
    background: lightgray;
    margin-top: 140px;
    height: calc(100% - 140px);
}

.mainnav a {
    display: block;
    width: calc(100% - 60px);
    padding: 20px 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    font-weight: 600;
}

.mainnav a:hover,
.mainnav a:focus {
    background: rgba(0, 0, 0, 0.60);
    filter: invert(100%);

}

.col-1 {
    width: calc(100% - 40px);
    clear:both;
    padding: 20px;
}

.col-3 {
    width: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
}

.col-3 article {
    width: calc(33.333% - 40px);
    float: left;
    padding: 20px;
}

main {
    float: left;
    width: calc(100% - 220px);
    background: #f9f9f9;
    padding: 0;
    margin-left: 220px;
    margin-top: 140px;
}
main .container {
    max-width: 1100px;
}

footer {
    padding: 20px;
    width: calc(100% - 40px);
    background: #ececec;
    overflow: hidden;
    position: relative;
}

.footer__logo {
    height: 150px;
}

.footer__third {
    width: calc(33.333% - 40px);
    display: block;
    float: left;
    padding: 20px;
}


.footer__nav a {
    color: #777;
    display: inline-block;
    padding: 5px 0;
    font-weight: 600;
    width: auto;
    text-decoration: none;
}

.footer__nav a:hover,
.footer__nav a:focus {
    filter: invert(80%);
}