* {
    font-family: sans-serif;
}

@media (max-width:900px) {
    .footer__third, .col-3 article {
        width: calc(100% - 40px)!important;
    }
}


html {
    background:#fff;
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
    max-height: 100%;
}


title {
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #333333;
    text-transform: capitalize;
}

header {
    position: relative;
    background: grey;
    width: 100%;
    border-bottom: 4px solid rgba(0,0,0,0.3);
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo {
    padding: 20px 0;
}

#logo img {
    max-height: 100px;
}

footer img {
    max-height: 150px;
}

header .container {
    padding: 0;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
}

.mainnav {
    background: lightgray;
    overflow: hidden;
}

.mainnav a {
    padding: 15px 20px;
    display: block;
}

.mainnav a:hover, .mainnav a:focus {
    background: rgba(0, 0, 0, 0.60);
    filter: invert(100%);
}

.mainnav ul li {
    float: left;
}

.col-1 {
    width: 100%;
    clear:both;
}

.col-3 {
    background: rgb(192, 192, 192);
    overflow: hidden;
}

.col-3 article {
    width: calc(33.333% - 40px);
    float: left;
    padding: 20px;
}

main {
    margin: 0 auto;
}

footer {
    padding: 20px;
    width: calc(100% - 40px);
    float: left;
    background: #dedede;
}

.footer__third {
    width: calc(33.333% - 40px);
    display: block;
    float: left;
    padding: 20px;
    height: inherit;
}


.footer__nav a {
    color: #333;
    display: inline-block;
    padding: 5px 0;
    font-weight: 600;
    width: auto;
    text-decoration: none;
}

.footer__nav a:hover,
.footer__nav a:focus {
    filter: invert(100%);
}