<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/gui-layout1.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="l1-container">
            <div id="l1-logo">
                <img src="img/logo.png" alt="logo">
                <p>Header text</p>
            </div>
            <nav class="l1-headernav">
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                    <li><a href="#">Link3</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    
    <main>
        <div class="l1-container">
            <div class="l1-1col">
                <article>
                    <h1>Full Width Article</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan est sed consectetur tincidunt. Pellentesque imperdiet tristique tellus non euismod. Aliquam bibendum tempor convallis. Proin semper hendrerit laoreet. Cras nec scelerisque quam. In in mattis justo. Donec nisl libero, congue sagittis felis non, interdum euismod lorem. Quisque at tincidunt leo, non finibus orci. Vivamus ligula enim, posuere vitae maximus vel, sodales a nisi. Ut et augue lectus. Pellentesque aliquam turpis sit amet est fermentum cursus. Pellentesque molestie dictum varius.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan est sed consectetur tincidunt. Pellentesque imperdiet tristique tellus non euismod. Aliquam bibendum tempor convallis. Proin semper hendrerit laoreet. Cras nec scelerisque quam. In in mattis justo. Donec nisl libero, congue sagittis felis non, interdum euismod lorem. Quisque at tincidunt leo, non finibus orci. Vivamus ligula enim, posuere vitae maximus vel, sodales a nisi. Ut et augue lectus. Pellentesque aliquam turpis sit amet est fermentum cursus. Pellentesque molestie dictum varius.</p>
                </article>
            </div>
        </div>
        
        <div class="l1-3col">
            <div class="l1-container">
                <article>
                    <h2>Article 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida, sem id accumsan ornare, massa tellus rutrum orci, sit amet sagittis lorem erat id turpis. Sed risus metus, congue vel eleifend eu, accumsan sed enim. </p>
                </article>
                <article>
                    <h2>Article 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan est sed consectetur tincidunt. Pellentesque imperdiet tristique tellus non euismod. Aliquam bibendum tempor convallis. Proin semper hendrerit laoreet. </p>
                </article>
                <article>
                    <h2>Article 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan est sed consectetur tincidunt. Pellentesque imperdiet tristique tellus non euismod. Aliquam bibendum tempor convallis. Proin semper hendrerit laoreet. </p>
                </article>
            </div>
        </div>
        <div class="l1-container">
            <div class="l1-1col">
                <article>
                    <h2>Full Width Article</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan est sed consectetur tincidunt. Pellentesque imperdiet tristique tellus non euismod. Aliquam bibendum tempor convallis. Proin semper hendrerit laoreet. </p>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan est sed consectetur tincidunt. Pellentesque imperdiet tristique tellus non euismod. Aliquam bibendum tempor convallis. Proin semper hendrerit laoreet. Cras nec scelerisque quam. In in mattis justo. Donec nisl libero, congue sagittis felis non, interdum euismod lorem. Quisque at tincidunt leo, non finibus orci. Vivamus ligula enim, posuere vitae maximus vel, sodales a nisi. Ut et augue lectus. Pellentesque aliquam turpis sit amet est fermentum cursus. Pellentesque molestie dictum varius.</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <div class="l1-container">
            <nav class="l1-footernav"> 
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                    <li><a href="#">Link3</a></li>
                </ul>
            </nav>
            <div class="l1-footercontent">
                <img src="foot-logo.png" alt="footlogo">
                <p>Footer text</p>
            </div>
        </div>
    </footer>
</body>
</html>