<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/gui-layout2.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="l2-logo">
            <img>
        </div>
    </header>
    <nav>
        nav here
    </nav>
    <main>
        content here
    </main>
    <footer>
        footer here
    </footer>
    
</body>
</html>